.btn
    border: none
    background-color: $color-green-light
    padding: 1.5rem 3rem
    color: $color-gray-light
    letter-spacing: 0.15rem
    text-transform: uppercase
    font-weight: 700
    font-size: 1.6rem
    &:hover
        background-color: $color-green-dark
